In [38]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("juice0lover/users-vs-bots-classification")

print("Path to dataset files:", path)

Path to dataset files: /Users/ruslyng/.cache/kagglehub/datasets/juice0lover/users-vs-bots-classification/versions/3

In [40]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /usr/local/anaconda3/lib/python3.12/site-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/anaconda3/lib/python3.12/site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in /usr/local/anaconda3/lib/python3.12/site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in /usr/local/anaconda3/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/anaconda3/lib/python3.12/site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2025.1.31)

In [4]:
import pandas as pd

df = pd.read_csv("/Users/ruslyng/.cache/kagglehub/datasets/juice0lover/users-vs-bots-classification/versions/3/bots_vs_users.csv")

In [6]:
df.head()

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,...,ads_ratio,avg_views,posting_frequency_days,phone_numbers_ratio,avg_text_uniqueness,city,has_occupation,occupation_type_university,occupation_type_work,has_personal_data
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5874 entries, 0 to 5873
Data columns (total 60 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   has_domain                  5874 non-null   object
 1   has_birth_date              5874 non-null   object
 2   has_photo                   5874 non-null   object
 3   can_post_on_wall            5874 non-null   object
 4   can_send_message            5874 non-null   object
 5   has_website                 5874 non-null   object
 6   gender                      5874 non-null   object
 7   has_short_name              5874 non-null   object
 8   has_first_name              5874 non-null   object
 9   has_last_name               5874 non-null   object
 10  access_to_closed_profile    5874 non-null   object
 11  is_profile_closed           5874 non-null   object
 12  target                      5874 non-null   int64
 13  has_nickname                5874 non-null   object
 14  has_maiden_name             5874 non-null   object
 15  has_mobile                  5874 non-null   object
 16  all_posts_visible           5874 non-null   object
 17  audio_available             5874 non-null   object
 18  has_interests               5874 non-null   object
 19  has_books                   5874 non-null   object
 20  has_tv                      5874 non-null   object
 21  has_quotes                  5874 non-null   object
 22  has_about                   5874 non-null   object
 23  has_games                   5874 non-null   object
 24  has_movies                  5874 non-null   object
 25  has_activities              5874 non-null   object
 26  has_music                   5874 non-null   object
 27  can_add_as_friend           5874 non-null   object
 28  can_invite_to_group         5874 non-null   object
 29  subscribers_count           5874 non-null   object
 30  is_blacklisted              5874 non-null   object
 31  has_career                  5874 non-null   object
 32  has_military_service        5874 non-null   object
 33  has_hometown                5874 non-null   object
 34  marital_status              5874 non-null   object
 35  has_universities            5874 non-null   object
 36  has_schools                 5874 non-null   object
 37  has_relatives               5874 non-null   object
 38  is_verified                 5874 non-null   object
 39  is_confirmed                5874 non-null   object
 40  has_status                  5874 non-null   object
 41  posts_count                 1391 non-null   float64
 42  avg_likes                   1391 non-null   float64
 43  links_ratio                 1391 non-null   float64
 44  hashtags_ratio              1391 non-null   float64
 45  avg_keywords                1391 non-null   float64
 46  avg_text_length             1391 non-null   float64
 47  attachments_ratio           1391 non-null   float64
 48  avg_comments                1391 non-null   float64
 49  reposts_ratio               1391 non-null   float64
 50  ads_ratio                   1391 non-null   float64
 51  avg_views                   1391 non-null   float64
 52  posting_frequency_days      1391 non-null   float64
 53  phone_numbers_ratio         1391 non-null   float64
 54  avg_text_uniqueness         1391 non-null   float64
 55  city                        5874 non-null   object
 56  has_occupation              5874 non-null   object
 57  occupation_type_university  5874 non-null   object
 58  occupation_type_work        5874 non-null   object
 59  has_personal_data           5874 non-null   object
dtypes: float64(14), int64(1), object(45)
memory usage: 2.7+ MB

In [10]:
df.isnull().sum()

has_domain                       0
has_birth_date                   0
has_photo                        0
can_post_on_wall                 0
can_send_message                 0
has_website                      0
gender                           0
has_short_name                   0
has_first_name                   0
has_last_name                    0
access_to_closed_profile         0
is_profile_closed                0
target                           0
has_nickname                     0
has_maiden_name                  0
has_mobile                       0
all_posts_visible                0
audio_available                  0
has_interests                    0
has_books                        0
has_tv                           0
has_quotes                       0
has_about                        0
has_games                        0
has_movies                       0
has_activities                   0
has_music                        0
can_add_as_friend                0
can_invite_to_group              0
subscribers_count                0
is_blacklisted                   0
has_career                       0
has_military_service             0
has_hometown                     0
marital_status                   0
has_universities                 0
has_schools                      0
has_relatives                    0
is_verified                      0
is_confirmed                     0
has_status                       0
posts_count                   4483
avg_likes                     4483
links_ratio                   4483
hashtags_ratio                4483
avg_keywords                  4483
avg_text_length               4483
attachments_ratio             4483
avg_comments                  4483
reposts_ratio                 4483
ads_ratio                     4483
avg_views                     4483
posting_frequency_days        4483
phone_numbers_ratio           4483
avg_text_uniqueness           4483
city                             0
has_occupation                   0
occupation_type_university       0
occupation_type_work             0
has_personal_data                0
dtype: int64

In [12]:
df.describe()

,target,posts_count,avg_likes,links_ratio,hashtags_ratio,avg_keywords,avg_text_length,attachments_ratio,avg_comments,reposts_ratio,ads_ratio,avg_views,posting_frequency_days,phone_numbers_ratio,avg_text_uniqueness
count,5874.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000,1391.000000
mean,0.500000,18.629044,19.552487,0.156463,0.143918,7.730661,544.752035,0.895945,0.610812,0.433638,0.002667,623.834788,66.330065,0.000568,0.668009
std,0.500043,4.231994,41.954881,0.202730,0.187085,11.278711,746.728130,0.170084,2.461709,0.397830,0.033136,1617.635460,154.970296,0.009545,0.229815
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,20.000000,0.400000,0.000000,0.000000,1.100000,86.600000,0.850000,0.000000,0.050000,0.000000,9.125000,1.980000,0.000000,0.580000
50%,0.500000,20.000000,7.600000,0.100000,0.050000,3.400000,267.800000,0.950000,0.000000,0.300000,0.000000,268.950000,30.950000,0.000000,0.710000
75%,1.000000,20.000000,26.075000,0.200000,0.200000,7.850000,616.850000,1.000000,0.200000,0.900000,0.000000,746.050000,89.480000,0.000000,0.830000
max,1.000000,20.000000,894.900000,1.000000,1.000000,61.600000,5841.250000,1.000000,64.050000,1.000000,0.950000,41415.700000,2866.590000,0.300000,1.000000

In [14]:
df.isnull().sum().sort_values(ascending=False)

avg_keywords                  4483
reposts_ratio                 4483
posts_count                   4483
avg_likes                     4483
links_ratio                   4483
hashtags_ratio                4483
avg_text_length               4483
attachments_ratio             4483
avg_comments                  4483
ads_ratio                     4483
avg_views                     4483
posting_frequency_days        4483
phone_numbers_ratio           4483
avg_text_uniqueness           4483
is_verified                      0
has_schools                      0
has_universities                 0
marital_status                   0
has_hometown                     0
has_military_service             0
has_relatives                    0
has_domain                       0
is_confirmed                     0
has_status                       0
has_birth_date                   0
city                             0
has_occupation                   0
occupation_type_university       0
occupation_type_work             0
has_career                       0
is_blacklisted                   0
subscribers_count                0
has_maiden_name                  0
has_photo                        0
can_post_on_wall                 0
can_send_message                 0
has_website                      0
gender                           0
has_short_name                   0
has_first_name                   0
has_last_name                    0
access_to_closed_profile         0
is_profile_closed                0
target                           0
has_nickname                     0
has_mobile                       0
can_invite_to_group              0
all_posts_visible                0
audio_available                  0
has_interests                    0
has_books                        0
has_tv                           0
has_quotes                       0
has_about                        0
has_games                        0
has_movies                       0
has_activities                   0
has_music                        0
can_add_as_friend                0
has_personal_data                0
dtype: int64

In [16]:
df_cleaned=df.copy()

df_cleaned.fillna(value=pd.NA, inplace=True)

df_cleaned.isnull().sum().sort_values(ascending=False)

In [19]:
df['avg_keywords'].head(10)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: avg_keywords, dtype: float64

In [21]:
df_cleaned.duplicated().sum()

2616

In [34]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in /usr/local/anaconda3/lib/python3.12/site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in /usr/local/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)

In [78]:
from sqlalchemy import create_engine

username = 'postgres'
password = 'runako0208'
host = 'localhost'
port = '5432'
database = 'users_bots'

connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

In [80]:
df_cleaned.to_sql('users', engine, if_exists='replace', index=False)

424